<ion-view view-title="Set Receive Paymount" class="favorites-page">
  <ion-content>
    <form>
      <ion-list>
          <label class="item item-input">
            <span class="input-label">Amount to Receive</span>
            <input type="number" placeholder="0.00" min="0" ng-model="data.amount">
          </label>

          <!-- Add option to receive to credit or debit -->
      </ion-list>
      <button class="button button-stable button-block" ng-click="paymentSet(data.amount)">Done</button>
    </form>
  </ion-content>
</ion-view>
